@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #292cd1;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: white;
    width: 260px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #292cd1 url(../img/background.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    padding-bottom: 10px;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color:#292cd1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #292cd1;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #292cd1;
    color: white;
    border: 1px solid #292cd1;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #292cd1;
}

form > a.botao > i {
    font-size: 0.8em;
}

form > div.campo {
    
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin:  5px 0px;
   
}

div.campo > label{
    display: none;
}

div.campo > i {
    color: white;
   
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    background-color: white;
    height: 100%;
    border-radius: 8px;
    width: calc(100% - 50px);
    padding: 4px;
    background-color: #49a09d;
    transform: translateY(-10px);
}

div.campo > input:focus-within {
    background-color: white;
}

.inputEmail {
    margin-top: 10px;
    border: 1px solid #292cd1;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.inputSenha {
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #292cd1;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}